# Core packages
numpy==1.24.3
pandas==2.2.2
streamlit==1.24.0

# Jupyter and IPython-related
jupyter==1.0.0
jupyterlab==4.2.4
ipython==8.26.0

# Markdown and text processing
mistune==3.0.2
beautifulsoup4==4.12.3

# Version handling
arrow==1.3.0

# Additional dependencies
click==8.1.7
Flask==3.0.3
prometheus_client==0.20.0

# Miscellaneous
packaging==24.1
